<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="3600">
	<Properties>
		<Property name="log-path">/var/log/spring</Property>
		<Property name="log-level">info</Property>
		<Property name="isAsync">false</Property>
	</Properties>
	<Appenders>
		<RollingFile name="couch-log" fileName="${log-path}/app.log"
			filePattern="${log-path}/couch-%d{yyyy-MM-dd}.log.gz"
			immediateFlush="true">
			<PatternLayout>
				<pattern>[%-5level] %d{dd-MM-YYYY HH:mm:ss} %c{1}:%L %M %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>
		<logger name="com.pulkit.tutorial" level="${log-level}"
			additivity="false">
			<AppenderRef ref="couch-log" />
		</logger>

		<Root level="${log-level}" includeLocation="true">
			<AppenderRef ref="console-log" />
			<AppenderRef ref="couch-log" />
		</Root>
	</Loggers>
</Configuration>